<p>Chose order view</p>
<p> {{orders.title}} </p>

<div class="input-group" ng-repeat="order in orders.list">
      <input type="text" class="form-control" placeholder="Search for..."
      value="{{order.title}} {{order.price}}" readonly>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"
        ng-click="orders.acceptOrderByDriver(order)">Accept!</button>
      </span>
</div>