

<div>
  <form novalidate class="simple-form" ng-show="orders.showForm">
    Location From <input type="text" ng-model="order.from" /><br />
    Location To <input type="text" ng-model="order.to" /><br />
    Your name <input type="text" ng-model="order.clientName" /><br />
    <input type="submit" ng-click="orders.send(order)" value="Save" />
  </form>
  <div ng-hide="orders.showForm">
    <pre>
        order = {{order | json}}
    </pre>
    <div class="btn-group btn-group" role="group" >
        <button class="btn btn-default" ng-click="orders.accept(orders.receivedOrder)">
            Accept
        </button>
        <button class="btn btn-default" ng-click="orders.reject(orders.receivedOrder)">
            Reject
        </button>
    </div>
  </div>
</div>

