<div class="btn-group btn-group-lg" role="group" aria-label="...">
  <!--<button type="button" class="btn btn-default">I am client</button>-->
  <a href="#/create_order" class="btn btn-default" role="button">I am client</a>
  <div class="btn-group btn-group-lg" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      I am driver
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#/login_car">Already registered</a></li>      
      <li><a href="#/register_car">Wanna register</a></li>
    </ul>
  </div>
</div>