<p>{{orders.title}}</p>
<p>implementing order view</p>
<button role="button" class="btn btn-default" ng-click="orders.completeOrder()">
    Complete order!
</button>

<div class="input-group">
      <input type="text" class="form-control" ng-model="locationId" placeholder="Search for..." value="location">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"
        ng-click="orders.updateLocation(locationId)">Update location!</button>
      </span>
</div>