<p>login car view</p>
<p>{{cars.title}}</p>
<form ng-hide="cars.showLocationChoser">
  <fieldset class="form-group">
    <label for="inputCarId">Your Car Id</label>
    <input type="text" ng-model="carId" class="form-control" placeholder="Enter your id"/>
    <small class="text-muted">It is used to authenticate you</small>
  </fieldset>  
  <button type="submit" class="btn btn-primary" ng-click="cars.activate(carId)">Start work!</button>
</form>
<form ng-show="cars.showLocationChoser">
  <fieldset class="form-group">
    <label for="locationId">Where are you now?</label>
    <input type="text" ng-model="locationId" class="form-control" placeholder="Enter your location"/>
    <small class="text-muted">System needs to know where you are</small>
  </fieldset>  
  <button type="submit" class="btn btn-primary" ng-click="cars.applyLocation(locationId)">Here i am!</button>
</form>
