<p>register car view </p>
<form ng-hide="cars.showLocationChoser">
  <fieldset class="form-group">
    <label for="description">Your Car Description</label>
    <input type="text" ng-model="car.driverName" class="form-control" placeholder="Enter your Name"/>
    <small class="text-muted">How should we call you, monsieur?</small>
  </fieldset> 
  <fieldset class="form-group">
    <label for="inputCarId">Your Car Id</label>
    <input type="text" ng-model="car.description" class="form-control" placeholder="Enter your car description"/>
    <small class="text-muted">Describe your car for clients</small>
  </fieldset>  
  <button type="submit" class="btn btn-primary" ng-click="cars.register(car)">Start work!</button>
</form>
<form ng-show="cars.showLocationChoser">
  <fieldset class="form-group">
    <label for="locationId">Where are you now?</label>
    <input type="text" ng-model="locationId" class="form-control" placeholder="Enter your location"/>
    <small class="text-muted">System needs to know where you are</small>
  </fieldset>  
  <button type="submit" class="btn btn-primary" ng-click="cars.applyLocation(locationId)">Here i am!</button>
</form>